
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    background: linear-gradient(30deg, black, rgb(93, 93, 93), black) no-repeat center/cover fixed;
}

body button {
    cursor: pointer;

}

.super_container h1{
    text-align: center;
    padding: 10px 0;
    margin: 30px 0;
    color: white;
}

.input_box {
    text-align: center;
    margin: 30px 0;
}

.input_box input {
    padding: 10px;
    width: 300px;
    border-radius: 3px;
    border: none;
    margin-right: 10px;
}

.input_box button {
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
}

.box{
    display: grid;
    grid-template-columns: 350px 250px;
    border: solid;
    margin: 30px 0;
    padding: 20px;
    align-items: center;

    background: white;
    border-radius: 7px;
}

.box button {
    padding: 7px 20px;
    border-radius: 3px;
    border: none;
}

.box p {
    width: 300px;
    font-size: 20px;
}

.green {
    background: lime;
}
.red {
    background: red;
    color: white;
}
#wrongInputMessage{
    margin: 20px 0;
    color: red;
}

.frag {
    background: #7d7d7d;
    color: white;
}

.btns *{
    margin: 0 3px;
}